@charset "UTF-8";
*{margin: 0;}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header header{text-align: center; background-color: aqua; width: 80%; height: 100px; 
		color: #4a359f; font-size: 40pt; font-weight: bolder; padding: 50px, 0; font-family: 'HS-Regular'}
.header #nav{background-color: gray; height: 60px; width: 80%;}
.header #nav ul{list-style: none; width: 60%; float: left;}
.header #nav ul li{float: left; line-height: 30px; text-align: center; 
			width: 15%; background-color: gray;}
.header #nav ul li a {content: 'Float';
  display: block;
  top: 0;
  left: 0;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.2s ; font-size:20pt; text-decoration: none; color: white; padding: 15px; display: block; font-family: 'ImcreSoojin';}
.header #nav input{text-align: center; width: 5%; margin: 15px; }
.header #nav ul li:hover { text-align:center; background-color: pink; height: 60px; font-size:50pt;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);}

.header #nav ul li a:visited { color: white;}

.header #headerid{font-family: 'Vitro_core';}
#lgbtn{ width: 50px; border-radius: 5px; border-color: skyblue;}
#lgbtn:hover{background-color: skyblue; color: white; border-color: white;}

#remotenav{position: fixed; border: 1px solid black; width: 9.9%; height: 100px;
border-radius: 10px; background-color: #d99cb1;}
#remotenav ul{list-style:none;}
#section{width:80%; height: 1000px; background-color: orange;}


/* 
footer{} */